
/* ****************************************************************/
/* NAV MENU START */

#main-header { top: 0px; left: 0px; padding: 0px 9px 0px 0px; background-color: #64b4cf; position: fixed; width: 100%; z-index: 1000; border-bottom: 2px solid #333; margin-bottom:25px; box-shadow: 0px 0px 17px 2px #3b3b3b; min-width:700px;}
				#logo, #slogan { float: left; }
				#slogan { font-style: italic; color: #333; padding-top: 20px; padding-left: 15px; }
				#top-logo {z-index: 1001; position: fixed; padding-left: 10px; top: 0px; left: 0px;}
				#top-navigation { float: right; padding: 0px 20px 0px 0; line-height: 1; }
					#top-navigation nav { float: left; }
						#top-navigation li  { display: inline-block; margin-top: 3px; margin-bottom:1px;vertical-align:text-bottom;}
							#top-navigation a { color: #333; font-weight: 400; text-decoration: none; /*padding: 14px 18px;*/ display: block; position: relative; }
							#top-navigation > ul > li.sfHover > a, #top-navigation > ul > li > a:hover, .mobile_nav { color: #fff; background-color: #ff8a1d; -webkit-box-shadow: inset 0 0 30px #d9531f; -moz-box-shadow: inset 0 0 30px #d9531f; box-shadow: inset 0 0 30px #d9531f; }
							#top-navigation > ul > li > a:hover + ul, #top-navigation > ul > li > ul:hover, .mobile_nav { visibility: visible !important; display: block !important;}
							#top-navigation li.current-menu-item > a, .et_mobile_menu li.current-menu-item > a { font-weight: 800; color: #F0F0F0; background-color: #005E7C;}
							#top-navigation li.current-menu-item > a:hover { color: #fff; }

							#top-navigation > ul > li > a, #footer-bottom li a { overflow: hidden; height: 54px; -moz-transition: all .5s; -webkit-transition: all .5s; -o-transition: all .5s; transition: all .5s; }

				span.menu_slide, span.main_text { display: block; position: relative; padding: 18px; }
				li.menu_2line {top:-4px;}
				li.menu_1line a {top:3px;}
				span.menu_2line{ display: inline-block; opacity: 1; top: 5px; line-height: 1.4; text-align: center; padding: 0px 22px; }
				span.sf-sub-indicator { margin-left: -7px; left: -14px; position: relative; font-size: 0.8em; }

				.bottom-nav span.menu_slide, .bottom-nav span.main_text { padding: 23px 20px; }

#top-navigation .current {background-color: #005E7C;}
#top-navigation .current a {font-weight: bold; color: #F0F0F0;}
#top-navigation .current span {font-weight: bold; color: #F0F0F0;}
#top-navigation .sub-menu {width:215px; -webkit-box-shadow: 0px 0px 24px -6px rgba(0,0,0,0.48); -moz-box-shadow: 0px 0px 24px -6px rgba(0,0,0,0.48); box-shadow: 0px 0px 24px -6px rgba(0,0,0,0.48); background-color:rgb(243, 250, 252);}
#top-navigation .sub-menu li {width:100%; height: 100%; margin:-1px -1px;border:none; text-align: left;}
#top-navigation .sub-menu li a {height:100%; width:100%; padding: 17px 10px; font-size: .9em; margin:-1px -1px;border:none;}
#top-navigation .sub-menu li:hover {background-color:#ff8a1d; }				
#top-navigation .sub-menu li:hover a{color: white; padding-left: 20px; font-weight:bold;}
				
#et_mobile_nav_menu { display: none; }
#menu-main li ul, .et_mobile_menu {z-index: 9999; width: 238px; background: #fff; -webkit-box-shadow: 0 3px 4px rgba(0,0,0,0.04); -moz-box-shadow: 0 3px 4px rgba(0,0,0,0.04); box-shadow: 0 3px 4px rgba(0,0,0,0.04); display: none; border: 1px solid #e9e9e9;}
#menu-main li ul {position: absolute; }
.has-sub-menu span:hover > ul, .has-sub-menu span ul:hover { visibility: visible; display: block;}
a{text-decoration: none;}
a:hover{text-decoration:underline;}

/* NAV MENU END */
/* ****************************************************************/


/* SCREEN START */
/* **********************/
@media only screen and ( max-width: 1330px ) {
#headColDiv div{width:307px}
#headColDiv #headCol1 {margin-left: 98px;}
#headColDiv #headCol2 {margin-left: 403px;}
#headColDiv #headCol3 {margin-left: 710px;}
}

@media only screen and ( min-width: 960px ) and ( max-width: 1030px ) {
.container { width: 728px; }
#slogan { display: none; }
#main-header { text-align: center; }
.nav li li { text-align: left; }
#logo { float: none; }
#top-logo img {height:65px;width:319px; }
}

@media only screen and ( min-width: 802px ) and ( max-width: 959px ) {
#top-logo img {height:43px;width:191px; }
}

@media only screen and ( max-width: 801px ) {
#menu-main {margin-top:53px;}
#centerConsole{margin-top:277px;}
#main, #menuContainer{top:118px;}
#affAd {top:142px;}
#wrapHeading{margin-top:47px;}
#centerConsoleWrap{margin-top:306px !important;}
}

@media only screen and ( min-width: 1919px ) and ( max-width: 2561px ) {
#body-area { padding-top: 100px; }
}

