.col-1-3{box-sizing: border-box;text-align: center;}
.col-1-3 h3{color:white;margin: .8em 0 .2em 0;font-family: 'Open Sans', Arial, sans-serif;font-size: 1.17em; font-weight:bold;}
footer ol li {list-style-type: decimal; text-align:left; margin:0;}
#topPagesOL li{margin:0px 14%;}
#updatesUL{max-height:460px; /*overflow-y:scroll;*/}
#updatesUL li{text-align:left; margin:15px 14%; list-style-type: disc;}
html {position:relative; min-height:100%;font-size:16px}
body { margin:0 0 610px; min-height: 580px;}
footer{color:white;    clear:both;	position: absolute;	left: 0;	bottom: 0;	height: 610px;	z-index: 100;	width: 100%;	background-color: rgb(3, 44, 59);}
footer a {color:rgb(219, 142, 0) !important;}
footer h3{padding-bottom:10px;}
footer #footer {text-align:center;}
#footGrid1{background-color: rgb(3, 44, 59);}
#centFoot{border-right: 1px solid rgb(82, 105, 126);border-left: 1px solid rgb(82, 105, 126);}
#footGrid1 {margin:0;}
footer #centFoot ol li {text-align: left;margin: 0 0 0 42%; list-style-type: decimal;}
footer a{text-decoration: none; color:rgb(219, 142, 0) !important;}
footer a:hover {text-decoration: underline;}
footer.microFooter{height:auto; padding:10px 0px;}
