#rightCol{display:inline-block; vertical-align:top;}
#genAdWrap_2{float:left; display:inline-block; vertical-align:top; z-index:998;}
#generalLeftAd{height:600px; width:300px;}
#genAdWrap_bottom{display:block; margin:30px auto;}
#genAdWrap_bottom{height:90px; width:728px;}
#pageMain #testSummaryContainer{padding:0px; width:670px; display:inline-block;}
.stoStatusBox .stoStatBoxBody{overflow-x: auto; padding:20px 0px;}
.stoStatusBox .stoStatBoxBody table{width:660px;}
#keyHmapContainer{display:inline-block; margin-top:50px;}
#kbWrap{display:inline-block;}

/* stoTT specifics*/
#TTtextTitle{margin-top:10px;width:91%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
#TTresultPage{position:absolute; bottom:9px; left:36%;}

#genAdWrap_bottom{display:block; margin:30px auto;}
#generalBottomLeadAd{height:90px; width:728px;}
#dashboard_div{margin-top:-50px;}

#quickNav{width:210px; padding: 7px 0px; border-radius:8px; margin-bottom:15px; background:#ffdcac; border:2px solid #ad5e0c;}
#quickNav #qnTitle{font-size:1.1em; font-weight:bold; display:block; margin-bottom:10px; color:#934600;}
#quickNav .qnButtonWrap{display:inline-block; vertical-align:top; margin-left:15px;}
#quickNav .qnButtonWrap.first{margin-left:0px;}
#quickNav .qnButtonWrap a{display:inline-block; width:75px; height:55px;padding:0px 14px; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; text-decoration:none; color:white; background:#E0821F; border:2px solid #AD5E0C;}
#quickNav .qnButtonWrap:hover a{background:#C06200; cursor:pointer;}
#quickNav .fa{line-height:47px;}
#quickNav .fa-keyboard-o{font-size:2.5em;}
#quickNav .fa-area-chart{font-size:2em;}

@media only screen and ( min-width: 1600px ) {
#pageMain #testSummaryContainer{display:block;}
#keyHmapContainer{display:block; width: 50%;}
}

@media only screen and ( max-width: 1199px ) {
	#pageMain #testSummaryContainer{width:54%;}
	#genAdWrap_2{margin-right:2%;}
	#generalLeftAd{height:280px; width:336px;}
}

@media only screen and (max-width: 1050px){
	.noWidgets #heading, .noWidgets #pageMain{padding:5px 10px;}
}