h2{border-bottom:2px solid #7CB9CE;}
form{margin-top:20px;}
.usfContainer {margin-top:35px; border-radius:15px; display:block; min-width:580px; max-width:1000px; padding-bottom:30px;}
.fieldContainer{display:inline-block; text-align:left;}
.field > label {vertical-align:middle; display:inline-block; width:180px; text-align:right;}
.field.short{width:100%; margin:25px 0px 10px 0px;}
.field.short input{width:150px;}
.field.short > label{width:auto;}
.field.short > div{margin:0px 10px;}
.field.checkBox > label {width:auto; text-align:left; padding: 8px 15px; margin: -8px 0 -8px 30%;}
.field.checkBox > label:hover {cursor:pointer; background: #74b5c7; border-radius:8px;}
.field.checkBox.longLabel > label{margin:2px 0 -14px 17%};
.field > span {vertical-align:middle; height:auto !important;}
.field .ui-spinner{position:relative; display: inline-block; text-align:center; border: 1px solid gray; border-radius: 4px; overflow:hidden; vertical-align: bottom;}
.field .ui-spinner input{border:none; width:75px;}
.field .ui-spinner-button{position: absolute; background: #95CEE3; height:17px; width:16px;}
.field .ui-spinner-up{margin: 0px 0px 0px -16px; border-top-right-radius: 3px;}
.field .ui-spinner-down{margin: 17px 0px 0px -16px; border-bottom-right-radius: 3px;}
.field .ui-icon-triangle-1-n{font-size:0.9em; top:-3px; display:inline-block; position:relative;}
.field .ui-icon-triangle-1-s{font-size:0.9em; top:-4px; display:inline-block; position:relative;}
.field .ui-spinner-button.ui-state-hover{background:#62ADC8; cursor:pointer;}
.field table {margin:0 auto;}
.field h3 {display:inline-block; font-weight:800; padding:0 9px; margin: 0;}
.stoUIClickable, .stoUIClickable select, .stoUIradio label span, .stoUImenu ul li{max-width:360px; text-overflow:ellipsis;}
.ccode{ font-family: monospace; font-size: 1.3em;}

#asideWrap{z-index:998; float:right; width:35%;}

#premiumIconNotifyDiv{margin-top:25px; font-weight: bold; color: #2d495f;}
#premiumIconNotifyDiv div{padding:0;}
#premiumButtonDiv{margin-top:10px;}
#topUpdateBtn{display:block; margin-bottom: -25px;}
.insideUpdateBtn {display:block; margin:15px auto -5px auto;}
#bottomUpdateBtn{margin-top:45px;}
#classesContainer{text-align:center;}
#listOfClasses .checkBox{margin:0;}
#listOfClasses .checkBox label{margin:0;}
#listOfClasses tbody tr {border-radius:12px;}
#listOfClasses tbody tr:hover { background: #afd8e7;}
#userSettingsForm #listOfClasses tr td:first-child { border-top-left-radius: 10px; border-bottom-left-radius: 10px; }
#userSettingsForm #listOfClasses tr td:last-child { border-top-right-radius: 10px; border-bottom-right-radius: 10px; }
#classCodeStatusInfo{max-width:380px;}
th.classroomName, td.classroomName{padding-right:0px;}
th.editCRNbtn, td.editCRNbtn{padding-left:0px;}
td.editCRNbtn > span, td.editCRNbtn > div{display: inline-block;}
.editNewCRnameBtnsContainer button {width:36px;}
.editNewCRnameBtnsContainer .sideMarginsSmall {margin:0px 4px;}
.newCRname{width:170px;}


@media only screen and ( max-width: 1099px ) {
	#asideWrap{float:none;}
}