body {height:2985px;}
.ie8{height:2300px;}
#heading{margin:0;}
#heading ul{ padding:18px 0; margin-left:80px;}
#heading h1{border-bottom: 1px solid gray; text-align:center; padding-bottom:10px; margin-bottom:30px;}
#wrapHeading{width:80%; max-width:840px;}
#gWPM_pic img{height:auto;}
#nWPM_pic img{height:auto;}
h2{margin-top: 50px;}
#headInfo p{text-align:left;}
#headInfo ul {margin:25px 0px 25px 140px;}
#headInfo ul li {list-style-type:disc; text-align:left;}

@media only screen and ( max-width: 1018px ) {
body{height: 3125px;}
}

@media only screen and ( max-width: 895px ) {
body{height: 3465px;}
}

@media only screen and ( max-width: 801px ) {
body{height: 3765px;}
}

@media only screen and ( max-width: 725px ) {
body{height: 4245px;}
}

@media only screen and ( max-width: 624px ) {
body{height: 4745px;}
}
