body{height:700px;}
#heading{ text-align:left; width:700px; margin:0 auto;}
#heading ul{ padding-top:18px; padding-bottom:18px; margin-left:80px;}
#heading h1{border-bottom: 1px solid gray; text-align:center; padding-bottom:10px; margin-bottom:30px;}
#headInfo{font-size:1em; text-align:left;}
#wrap { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -25px;}
#wrapHeading{margin-top:100px;}
#container ul{width:auto; text-align:left; margin:30px auto 30px 15%;}
#container ul li {list-style-type:disc;}