* {margin:0 auto; padding:0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
body{height:1500px; background-color: #B1B1B1; text-align:center; overflow: auto; min-width:1014px; font-family: 'Open Sans', Arial, sans-serif; width: 100%;}
a {color: rgb(31, 106, 187);}
a:hover {color: rgb(219, 142, 0);}
a:visited {color: rgb(22, 61, 104);}
body #container {width:84%; height:100%; -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.35); -moz-box-shadow: 0 0 50px rgba(0, 0, 0, 0.35); box-shadow: 0 0 50px rgba(0, 0, 0, 0.35); background-color: #fff; padding-top:25px; margin-top: 100px;}
p{margin-bottom:10px;}
#heading {color: #666666; position: relative; height: auto; padding: 0px 0px 10px 0px; margin: 0 auto; top: 0px; left: 0px;}
#heading h1 {font-size: 2.2em; letter-spacing: -0.04em; text-shadow: 1px 2px rgba(200, 200, 200, 0.5); color: #2B2828;}
#headInfo { color:black; font-family: Verdana, Geneva, sans-serif; left: 0px; width: 734px; line-height: 25px; font-size: 1.1em; margin: 10px auto;}
#sideSkyAd {width:160px; height:600px;}
#container ul {margin-right:10%; margin-left: 7%; max-width:1000px;}
#container li {text-align: left;list-style-type: none;margin: 0 0 30px 0;clear:both;}
#fft {margin-bottom:65px !important;}
#uts img {margin:25px 40px !important;}
#uts h2 {padding: 0;}
#container li img{border: 5px solid rgb(70, 163, 236);-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px; float:left; margin: 30px 40px 70px 40px;}

.grid {background: white; margin: 0 0 20px 0; }
.grid:after { content: ""; display: table; clear: both; }
[class*='col-'] { float: left; padding-right: 20px; }
.grid [class*='col-']:last-of-type { padding-right: 0; }
.col-1-1 { width: 100%; }
.col-5-6 {width: 83.33%}
.col-2-3, .col-4-6 {width: 66.66%; }
.col-1-6 {width: 16.66%; }
.col-1-2 {width: 50%; }
.col-1-4 {width: 25%; }
.col-1-3 {width: 33.33%; }
.col-1-8 {width: 12.5%; }
.module {padding: 20px; background: #eee; }
.grid-pad { padding: 20px 0 20px 20px; }
.grid-pad [class*='col-']:last-of-type { padding-right: 20px; }
.module { background-color: #C8DBE0; border: 2px solid #52727C; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; -webkit-box-shadow: 3px 7px 40px -13px #353535; box-shadow: 3px 7px 40px -13px #353535; position: relative; behavior: url(../utilities/PIE/PIE.htc);}

@media only screen and ( min-width: 1530px ) {
#sideSkyAd {width:300px; }
}
@media only screen and ( max-width: 1250px ) {
body {height:1970px; }
}