*{margin: 0 auto; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
body{background-color: #B1B1B1; text-align: center; overflow: auto; min-width: 1114px; font-family: 'Open Sans', Arial, sans-serif; width: 100%;}
body #container{ width: 90%; height: auto; -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.35); -moz-box-shadow: 0 0 50px rgba(0, 0, 0, 0.35); box-shadow: 0 0 50px rgba(0, 0, 0, 0.35); background-color: #fff; padding: 35px 0 20px 0; margin-top: 105px; min-height: 560px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
h1{font-size:2em; text-align:center; margin-bottom:15px;}

.resultRegText{position: relative; display:inline-block; text-align:center; margin: 0 auto 15px auto; font-size:1.5em; width:100%;}

#logo{margin-left:32px;}
#resultDiv{ margin: 10px auto 20px auto; padding:20px 20px; width: 60%; max-width:800px; min-width: 620px; background-color: #EEF3F4; height: auto; border: 6px solid #8DC6D9; -moz-border-radius: 15px; border-radius: 15px;}
#resultsTitle{ margin: 5px 0 -12px 0; left: 0px; font-size: 24px !important; font-weight: bold; }			
#leadAd{width:728px;height:90px;}
#lgRectAd{width:336px;height:280px}

.resultStat{font-size:1.4em; font-weight:bold;}
#resultDiv div.iResults div {font-family: Arial; font-size: 26px; font-weight: bold; margin-top: 22px;}
#WPM_Result, #Accur_Result {color: green; font-size: 35px !important; font-weight: 900; margin-top: 12px !important;}
#WPM_Rtext{margin-left:10px; margin-top:25px;}
#Accur_Rtext{margin-left:-62px; margin-bottom:25px; }

#afterResultsDiv{width:735px; position:relative;}
#printBtnContainer{position:relative; display:inline-block; vertical-align:top; margin-right:20px; z-index: 5;}
#loginNote{display:block; position:relative; width:200px; margin-top:20px;}
#lgRectAd{position:relative; display:inline-block; vertical-align:top;}

.group:after {  content: "";  display: table;  clear: both;}
.mediumBtn { padding: 7px 25px; font-size: 18px; font-weight: bold !important; text-decoration: none !important;}
.submitButtonCarrot {color: white !important; text-align: center; background-color: #e67e22; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; border: 0px solid #9e5618; display: inline-block; cursor: pointer; font-family: arial; border-bottom: 2px solid #9e5618; box-shadow: inset 0 -2px #9e5618; text-shadow: 0px 0px 8px #CD7120; }
.submitButtonCarrot:hover {color: #f2f2f2; background-color: #d6670d; }

.leftCol{font-weight:bold; width:250px; display:inline-block; text-align:right; line-height:32px; margin-right:10px;}
.rightCol{width:300px; display:inline-block; text-align:left;}

@media print {
	body * { visibility: hidden;}
	body{background:white;}
	.to-print, .to-print *, #top-logo, #top-logo * {visibility: visible; }
	#top-logo {position: absolute; left: 0; top: 0;}
	#resultDiv{margin: -80px auto 0px auto;}
}