/* Only applied for IE browsers */
#container{position: relative;top:0px;}
#mainBody{position: relative;}
#centerConsole{margin-top:-9px;}
.scale75p{zoom: 0.75;margin-top:120px !important;margin-left:-330px !important;}
.scale75p #centerContent {padding-left:65px !important;}
.scale90p{zoom: 0.9;margin-top:43px !important;margin-left:-400px !important;}
.scale90p #centerContent{padding-left:45px !important;}
.scale115p{zoom: 1.15;top:0px;margin-top:-85px !important;}
#accordion{font-size:0.9em;}
