@font-face{
font-family: "texgyrecursor-bold";
src: url('/fonts/texgyrecursorbold.eot');
src: local(texgyrecursor-bold), url('/fonts/texgyrecursor-bold.otf') format('opentype');}

* {margin: 0 auto; padding: 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
body {background-color: white; text-align: center; overflow: auto; min-width:1014px; font-family: 'Open Sans', Arial, sans-serif; width:100%;} 

/* TEXT COLORS START */
span.bad_Entry {/* should be n = 3 */ color: #FF0000;}
span.goodEntry {/* n=4 */ color: #009900;}
span.goodSpace {/* n=5 */ color: #009900;}
span.bad_Space {/* n=6 */ background-color: red;}
span.phaseLeft {/* n=7 */ background-color: #F2C900; color:green;}
span.phaseRght {/* n=8 */ background-color: #F2C900; color:green;}
span.hiddenTxt {/* n=9 */ visibility: hidden;}
span.plainText {/* n=10 */ color: #999999;}
span.nxtLetter {/* n=11 */ color: white; background-color: black;}
span.junkSpace {/* n=12 */ visibility: hidden; position: absolute; left: 0px; margin-left:-200px;}
#lineDivContainer{/* n=13 */ position: relative; top:50px; width: 668px; text-align: center; margin: 2px auto; padding-left: 15px; padding-right: 15px; padding-top: 0; padding-bottom: 2px; background-color: white; height: 60px; border: 4px solid #FF8505;}
#blockDivContainer{/* n=14 */ position: relative; width: 668px; text-align: center; margin: 2px auto; padding-left: 15px; padding-right: 15px; padding-top: 2px; padding-bottom: 2px; background-color: white; height: 162px; border: 4px solid #FF8505; z-index:100;}
#line_input {/* n=15 */ position: relative; top: 5px; width: auto; text-align: center; margin: 0 auto; background-color: white; height: 40px; font-family: TexGyreCursor-Bold, Courier, monospace; font-weight: 900; font-size: 25px; word-wrap: break-word;}
div.blockLines{/* n=16 */ position: relative; text-align: left; background-color: white; font-family: TexGyreCursor-Bold, Courier, monospace; font-weight: bold; font-size: 25px; height: 35px; line-height:35px; }
#block_input {  /* rte div; n=17 */ position: relative; top: -4px; width: auto; text-align: center; margin: 0 auto; background-color: white; height: auto; font-family: Cousine, Courier, Verdana, Arial, Helvetica, sans-serif; font-weight: 900; font-size: 25px;}
/* TEXT COLORS END */

/* BEGIN Holy Grail Grid */
#menuContainer{min-width:1000px;position:absolute;width:100%;z-index:101;left:0px;top:0px;}
.grid {margin: 0 0 20px 0; }
.grid:after {/* Or @extend clearfix */content: "";display: table;clear: both; }
[class*='col-'] { float: left;  padding-right: 20px; }
.grid [class*='col-']:last-of-type {padding-right: 0; }
.col-1-1 {  width: 100%; }
.col-2-3, .col-4-6 {  width: 66.66%; }
.col-19-30 {  width: 63.33%;}
.col-1-6 {  width: 16.66%; }
.col-1-5 {  width: 20%; }
.col-5-6{  width: 83.33%; }
.col-1-2{  width: 50%; }
.col-1-4 {  width: 25%; }
.col-1-3 {  width: 33.33%; }
.col-1-8 {  width: 12.5%; }
.module {padding: 20px;background: #eee; }
.grid-pad { padding: 20px 10px 20px 10px; } /* Opt-in outside padding */
.grid-pad [class*='col-']:last-of-type {padding-right: 20px; }
.module {background-color: #C8DBE0; border: 2px solid #52727C; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; -webkit-box-shadow: 3px 7px 40px -13px #353535; box-shadow: 3px 7px 40px -13px #353535; position: relative; behavior: url(../utilities/PIE/PIE.htc);}

h2, h3 {margin:.8em 0 .2em 0;padding:0;}
h2{font-size:1.9em;}
p {margin:.4em 0 .8em 0;	padding:0;}

#header {float:left;	width:100%;	padding:0;margin:0;}
#header p {padding:.5em 15px	.2em 15px;margin:0;}
#header h1  {	padding:.4em 15px .2em 15px;margin:10px 0 0 0;font-family: “Gill Sans”, “Trebuchet MS”, Calibri, sans-serif;font-size: 2.2em;}
#header h2  {	padding:0.2em 15px 2em 15px;margin:0;font-family: Verdana,Geneva,Arial,helvetica,sans-serif;font-size: 110%;line-height: 24px;font-weight: normal;}

/* IE only */
.ie .grid {width:98%; }	 
.ie .col-1-1 {width: 98%; }  
.ie .col-2-3, .ie .col-4-6 { width: 62%; }
.ie .col-1-6 {  width: 15%; }
.ie .col-1-2 {  width: 48%; }
.ie .col-1-4 {  width: 23%; }
.ie .col-1-3 {  width: 31%; }
.ie .col-1-8 {  width: 11%; }
.ie div #gInput, .ie div #inputHint {left:45px;}
.ie #wrapStats, .ie #wrapExtraStats{left: 35px;}
.ie #multBox {padding-top:35px;}
.ie .floatCenterObj, .ie .floatCenterWrap { left:0px;}
.ie div #inputHint, .ie8 div #inputHint{color: #000;}
/* END Holy Grail Grid */

a{text-decoration: none;}
a:hover{text-decoration:underline;}

#topBorder{ width: 100%; background-image:url('../images/STO_topBorder.png'); background-repeat:repeat-x; height: 51px; position:absolute; top:0; left:0;}
#wrapdiv { text-align: center; margin: auto; display: block; width: 950px;}
#wrapLogo{ text-align: center; margin:0px auto; position: relative; width:420px; height:80px; top:0px; left:0px; margin-left:40px; margin-bottom:-25px; z-index:102;}
#logo{ left:0; height: 78px; width:392px;}
#logo img{border: none;}
#gpDiv{ position:relative; text-align:center; margin: 0 auto; width:90px; height:80px; margin-top:20px; margin-bottom:-90px; margin-right:160px; z-index:90; }
#gpDiv iframe{z-index:80;}
#fbLikeDiv{ position:relative; text-align:center; margin: 0 auto; width:90px; height:80px; margin-top:10px; margin-bottom:-85px; margin-right:80px; z-index:90;}
#fbLikeDiv iframe{z-index:80;}
#wrapHeading{ text-align:center; margin: 0 auto; width:960px; margin-top:10px;}
#topAd{ position: relative; margin: 0 auto; top:0px; left:0px; width: 728px; height:15px; margin-bottom: 18px;}
#rectAdWrap{ position: relative !important; text-align:center; font-weight:bold; font-size:18px; left:0px; padding-bottom:2px; margin: 0 auto; width:30px; height:92px; clear: both; z-index:998;}
#affAd{ position: absolute; width: 247px; height: 266px; background-color: #EDF7FA; top: 100px; left: -123px; padding: 10px; border-right: 2px dashed rgb(152, 200, 223); border-top: 2px dashed rgb(152, 200, 223); border-bottom: 2px dashed rgb(152, 200, 223); color: rgb(20, 80, 136); box-shadow: 4px 7px 24px -6px rgba(0,0,0,0.48); font-size: .9em; line-height: 23px;}
#affAd:hover{left:0 !important;}
#affAd div{font-size: 0.9em;width: 100px;line-height: 13px;margin: 0 0 10px 116px;}
#affAd:hover div{width:100% !important;margin-left:0px;}
#affAd #ext_icon{position: absolute;top: 119px;left: 228px;}
#affAd:hover #ext_icon{display:none;}
#rectAd{ float:left; width:336px; height: 280px; margin-left:-306px; margin-top:-62px; z-index:999;}
#leadAd{ position: relative; margin: 0 auto; top:23px; left:74px; width: 728px; height:90px;}
#adSpacer{height:90px;}
#heading { color: #666666; position: relative; height:100px; padding:0px; margin: 0 auto; top:0px; left: 0px;}
#main, #menuContainer{ text-align: right; margin: 0; position: absolute; width:100%; top:65px; left:0px; min-width:1060px;}
#menuContainer{ z-index:101;}
#menu{z-index:110;position: relative !important;float: right;z-index: 102;}
#heading h1{font-size:2.2em;letter-spacing: -0.04em;text-shadow: 1px 2px rgba(200, 200, 200, 0.5);color: #2B2828;}
#headInfo {font-family: Verdana,Geneva,Arial,helvetica,sans-serif;font-size: 16px;color: #666666;/*#666666;*/margin-top:6px;line-height:24px;}
#headColWrap{text-align:center;margin:0 auto;margin-top:15px;padding-bottom:2px;left:0px;width: 960px;}
#headColDiv{color: #666666;position: relative;height:100px;padding:0px;margin: 0 auto;top:0px;left: 0px;}
#headColDiv div{text-align:left;position: absolute !important; line-height: 22px;left:0px; width:/*348px*/362px;height:134px;padding: 0 25px;}
#headColDiv #headCol1{margin-left: -46px;border-right:1px solid rgb(126,183,255);}
#headColDiv #headCol2{margin-left: 314px;}
#headColDiv #headCol3{margin-left: 673px;border-left:1px solid rgb(126,183,255);}
#headColDiv p{font-size:0.9em;line-height:20px;}
#headColDiv h3{background-color: rgb(255, 229, 182); border: 2px solid rgb(230, 159, 34); padding: 3px 12px; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; color: rgb(128, 98, 47); width: 100%;}
#empHead, .empHead{color:#666666;font-weight:bold;font-family:arial;font-size:16px;}

/* CENTER CONSOLE START*/
#centerConsoleWrap{position:relative;top:0px;margin-top: 245px;}
#centerConsole{position:relative;top:0px;margin-top:224px;}
#centerContent {width:820px;height:342px;padding:0px;padding-top:40px;margin: 0 auto 40px auto;-moz-border-radius: 35px;border-radius: 35px;}
#divBackWrap{position:relative;width:820px; top:0px;padding-top:20px;margin: 0 auto 0 74px;
/*height:305px;
background-color: #084563;
background-image: -webkit-gradient(linear, 0 0, 110 457, from(#074d70), color-stop(0.014, #074d70), color-stop(0.014, #074c70), color-stop(0.022, #074b6f), color-stop(0.024, #064d77), color-stop(0.127, #064972), color-stop(0.133, #06476d), color-stop(0.142, #064468), color-stop(0.146, #064367), color-stop(0.146, #054165), color-stop(0.163, #053955), color-stop(0.163, #05354f), color-stop(0.165, #05324b), color-stop(0.167, #052e41), color-stop(0.169, #053148), color-stop(0.218, #053d5f), color-stop(0.225, #053e61), color-stop(0.231, #053f63), color-stop(0.238, #054064), color-stop(0.239, #053c5c), color-stop(0.246, #054166), color-stop(0.257, #054268), color-stop(0.267, #05436a), color-stop(0.359, #053e60), color-stop(0.704, #053f62), color-stop(0.746, #054167),  color-stop(0.789, #054269), color-stop(0.813, #054064), color-stop(0.874, #05334d), color-stop(0.883, #052f45), color-stop(0.883, #05324b), color-stop(0.887, #053955), color-stop(0.90, #054164), color-stop(0.915, #06476d), color-stop(0.938, #064d77));
background-image: -webkit-linear-gradient(282deg, #074d70, #074d70 1.4%, #074c70 1.4%, #074b6f 2.2%, #064d77 2.4%, #064972 12.7%, #06476d 13.3%, #064468 14.2%, #064367 14.6%, #054165 14.6%, #053955 16.3%, #05354f 16.3%, #053148 16.9%, #053d5f 21.8%, #053e61 22.5%, #053f63 23.1%, #054064 23.8%, #053c5c 23.9%, #054166 24.6%, #054268 25.7%, #05436a 26.7%, #053e60 35.9%, #053f62 70.4%, #054167 74.6%, #054269 78.9%, #054064 81.3%, #05334d 87.4%, #052f45 88.3%, #05324b 88.3%, #053955 88.7%, #054164 90%, #06476d 91.5%, #064d77 93.8%);
background-image: -moz-linear-gradient(282deg, #074d70, #074d70 1.4%, #074c70 1.4%, #074b6f 2.2%, #064d77 2.4%, #064972 12.7%, #06476d 13.3%, #064468 14.2%, #064367 14.6%, #054165 14.6%, #053955 16.3%, #05354f 165.3%, #053148 16.9%, #053d5f 21.8%, #053e61 22.5%, #053f63 23.1%, #054064 23.8%, #053c5c 23.9%, #054166 24.6%, #054268 25.7%, #05436a 26.7%, #053e60 35.9%, #053f62 70.4%, #054167 74.6%, #054269 78.9%, #054064 81.3%, #05334d 87.4%, #052f45 88.3%, #05324b 88.3%, #053955 88.7%, #054164 90%, #06476d 91.5%, #064d77 93.8%);
background-image: -o-linear-gradient(282deg, #074d70, #074d70 1.4%, #074c70 1.4%, #074b6f 2.2%, #064d77 2.4%, #064972 12.7%, #06476d 13.3%, #064468 14.2%, #064367 14.6%, #054165 14.6%, #053955 16.3%, #05354f 16.3%, #053148 16.9%, #053d5f 21.8%, #053e61 22.5%, #053f63 23.1%, #054064 23.8%, #053c5c 23.9%, #054166 24.6%, #054268 25.7%, #05436a 26.7%, #053e60 35.9%, #053f62 70.4%, #054167 74.6%, #054269 78.9%, #054064 81.3%, #05334d 87.4%, #052f45 88.3%, #05324b 88.3%, #053955 88.7%, #054164 90%, #06476d 91.5%, #064d77 93.8%);
background-image: linear-gradient(168deg, #074d70, #074d70 1.4%, #074c70 1.4%, #074b6f 2.2%, #064d77 2.4%, #064972 12.7%, #06476d 13.3%, #064468 14.2%, #064367 14.6%, #054165 14.6%, #053955 16.3%, #05354f 16.3%, #053148 16.9%, #053d5f 21.8%, #053e61 22.5%, #053f63 23.1%, #054064 23.8%, #053c5c 23.9%, #054166 24.6%, #054268 25.7%, #05436a 26.7%, #053e60 35.9%, #053f62 70.4%, #054167 74.6%, #054269 78.9%, #054064 81.3%, #05334d 87.4%, #052f45 88.3%, #05324b 88.3%, #053955 88.7%, #054164 90%, #06476d 91.5%, #064d77 93.8%);
-webkit-box-shadow: -6px 75px 62px -57px black; -moz-box-shadow: -6px 75px 62px -57px black; box-shadow: -6px 75px 62px -57px black; 
-webkit-box-shadow: -6px 71px 40px -57px black; -moz-box-shadow: -6px 71px 40px -57px black; box-shadow: -6px 71px 40px -57px black; 
-webkit-box-shadow: -6px 72px 54px -57px black; -moz-box-shadow: -6px 72px 54px -57px black; box-shadow: -6px 72px 54px -57px black; 
border: 7px solid #1A587B;
border-radius: 36px 36px 36px 36px; -moz-border-radius: 36px 36px 36px 36px; -webkit-border-radius: 36px 36px 36px 36px;*/
}
#divBackTop{ position:absolute; background-color: #084563;  /*incase pic has trouble loading*/ background: url(../images/divBackTop.png) no-repeat right top; width:820px; height:342px; z-index:2; top:0px; left:0px; clear:both;}
#divBackBottom{ position:absolute; background-color: #084563;  /*incase pic has trouble loading*/ background: url(../images/divBackBottom.png) no-repeat right bottom; width:820px; height:342px; z-index:2; left:0px; top:20px; background-position: bottom; overflow:hidden;}
#divBackStripe{position:absolute; background-color: #084563;  /*incase pic has trouble loading*/ background: url(../images/divBackStripe.png) repeat-y right top; width:820px; height: 234px; z-index:0; top:35px; left:0px;}
#containerWrapper{ position: relative;top:50px; width: 630px; text-align: center; margin: 2px auto; height: 150px; left: 0px; margin-left:150px; z-index: 2;}
#blockDivGlow{ position: absolute; top: -8px; left: -6px; width: 691px; text-align: center; margin: 2px auto; background: url(../images/divTextGlow.png) no-repeat top left; height: 180px; z-index:0;}
#divCover{ position: absolute; width: 668px; text-align: center; margin: 2px auto; margin-top:-1px; background-color: black; height: 163px; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
/* fix for 5, 6, 7 */ filter: alpha(opacity=30);
/* Older than Firefox 0.9 */ -moz-opacity:0.3;
/* Safari 1.x (pre WebKit!) */ -khtml-opacity: 0.3;
/* Firefox 0.9+, Safari 2?, Chrome any? Opera 9+, IE 9+ */ opacity: 0.3;
z-index:0;}

/* BUTTON START*/
#buttonWrapper{ position: relative; text-align:center; margin:0 auto; top:0px; width:880px; left:0px; margin-top:78px; clear:both; z-index:100;}
#resetBtnWrap { position:absolute !important; text-align: left !important; left: 0px; width:87px; height:32px; margin-left:360px; margin-right:0px; top:0px;}
#resetBtn { cursor:pointer; cursor:hand; font-family: arial; width:85px; height:30px; line-height:30px; font-size:17px; font-weight:bold; color:#000000; background: url(../images/resetButtonBg.png) no-repeat right top; border: none;}
#resetBtn:hover{background: url(../images/resetButtonBg.png) no-repeat right bottom;}
#resetBtn:active{}
#switchModesBtnWrap { position: absolute; text-align: left; left: 0px; width:87px; height:32px; margin-left:500px}
#switchModesBtn{cursor:pointer; font-family: arial; width:97px; height:30px; line-height:30px; font-size:15px; font-weight:bold; color:#202020; background: url(../images/switchButtonBg.png) no-repeat right top; border: none;}
#switchModesBtn:hover{background: url(../images/switchButtonBg.png) no-repeat right bottom;}
#personResultsBtnWrap { display: none; position: absolute; text-align: left; left: 0px; width:147px; height:32px; margin-left:650px}
#personResultsBtn{ cursor:pointer; font-family: arial; width:167px; height:30px; line-height:30px; font-size:15px; font-weight:bold; color:#202020; background: url(../images/personButtonBg.png) no-repeat right top; border: none;}
#personResultsBtn:hover{background: url(../images/personButtonBg.png) no-repeat right bottom;}
#PRIW{height: 0px;position: relative;text-align: left;margin-left: 643px;}
#personName{font-size:16px;letter-spacing:1.5px;}
#PN_Button{padding: 6px 12px; margin-top: 2px;}
/* BUTTONS END*/

/* RESULTS START*/
#resultSpacerDiv{height:70px;}
#resultDivContainer{ position: relative; text-align:center; margin:0 auto; top:-5px; width:855px; height:485px; left:-22px; display:inline-block; z-index:50;}
#resultDiv{ margin: 0 auto 0 167px; width: 680px; background-color: #EEF3F4; height: 484px; border: 6px solid #8DC6D9; -moz-border-radius: 15px; border-radius: 15px;}
#resultDivContainer div.iResults div{ font-family: Arial; font-size:26px; font-weight:bold; margin-top:22px; }
#resultDivContainer div.uiResults div{ font-family: Arial; font-size:16px; font-weight:normal; margin-top:5px; }
#resultsCol1Wrap { width: 26%; float: left; margin-top: 6px; text-align: right;}
#resultsCol2Wrap { width: 29%; float: left; margin-top: 10px; margin-left: 10px; text-align: left;}
#resultsCol3Wrap { width: 28%; float: left; margin-top: 16px; text-align: right;}
#resultsCol4Wrap { width: 13%; float: left; margin-top: 17px; margin-left: 8px; text-align: left;}
#WPM_Result, #Accur_Result  { color: green; font-size:35px !important; font-weight:900; margin-top:12px !important;}
#LTC_Result {color: green;}
#nLTI_Result, #ER_Result{color:red;}
#note_Rtext {margin-top:4px !important;font-size:10px !important;}
#resultsTitle{margin:5px 0 -12px 0;left:0px;font-size:24px !important;font-weight:bold;}
#snShare{ position:relative !important; text-align: center !important; margin:0 auto; top:-33px; left:-48px; width:600px; height:200px; clear:both;}
#fbWrap {position:absolute; text-align:left; margin-top: -45px; margin-left:70px; width:280px; height:100px; left:0px;}
#tWrap{ position:absolute; text-align:left; margin-left:70px; width:280px; height:100px; left:0px;}
#eWrap{ position: absolute; text-align: left; margin-top: 43px; margin-left: 70px; width: 280px; height: 100px; left: 0px;}
#lWrap{ position: absolute; text-align: left; margin-top: 86px; margin-left: 70px; width: 280px; height: 100px; left: 0px;}
#fbIcon{ background-position: 0px 0px;}
#tIcon{ background-position: -35px 0px;}
#eIcon{ background-position: -70px 0px;}
#lIcon{ background-position: -105px 0px;}
#genLinkDisplay{display: inline-block; position: relative; top: -25px; left: 216px; padding: 4px 6px; border: 2px solid #FE7E17; width: 115%;}
.share_icon {display:inline-block; height:35px; width:35px; background: url(../images/shareResultsIcons_140x35.png?v=2) no-repeat top left; margin: 0 0 -11px 0;}
.share_link { font-size:1.1em; position:absolute; padding:5px 0 0 10px;  height:16px;  margin-top:-34px; margin-left:30px; width: 300px;}
#resultsBotWrap{position: relative; margin: 0 auto; text-align: center; width: 600px; height: 200px; top:57px;}
#resultsBot{top: -184px; position: absolute; left: 23px; clear: both; width: 93%; border-top: 1px solid rgb(200, 200, 200); padding: 9px 18px 0 0;}
#resultsBot h4 {color: rgb(186, 42, 0); /*color: rgb(0, 58, 207);*/}
.rb{padding-top:5px;}
.typeLetter {font-family:TexGyreCursor-Bold, Courier, monospace; font-size:1.5em; padding-right: 5px;}
.rbColWrap{width:50%;}
#LetPercent_Result{text-align:left; padding-left:29%;}
/* RESULTS END*/

/* LIVE STATS START*/
#wrapStats{ position: relative; font-family: Arial, sans-serif; font-weight: 900; font-size: 2em; text-align: center; margin: -10px auto 10px 173px; top: 0px; width: 630px; clear:both; z-index:5;}
#timerDiv{ width: 300px; text-align: left !important; position: absolute !important; left: 0px; top:0px; margin-left:50px;}
#wpmDiv{ width: 150px; text-align: left !important; position: absolute !important; left: 0px; top:0px; margin-left:320px;}
#accuracyDiv{ width: 200px; text-align: left !important; position: absolute !important; left: 0px; top:0px; margin-left:460px;}
#timer, #wpmValue, #accuracyValue, #sWatch, #pCompleteValue {color: white;}
#timer,#sWatch{display:inline;}
div.statsText{font-size:12px;color:white;}
/* LIVE STATS END*/

/* TEXT/TIME SELECTION START*/
#textSelectContainer{ position: relative; text-align: center; margin:0 auto; top:-80px; width:630px; z-index:10;}
#textSelectDropDown{position: absolute !important;left: 0px;margin-left:400px}
#textTypeSelected{position: absolute !important;left: 0px;top:20px;}
#customTextContainer{ position: relative; top:0px; left:-67px; width:200px; height:235px;}
#savedTextContainer{ position:absolute; left: -30px; top: 169px; width: 330px; height: 30px;}
#CT_saveA{margin-right:5px;}
#CT_saveInput{border: 2px solid #064D77; padding: 2px 5px;}
#CT_clrBut{ position:absolute; left: 50px; top: 135px; width: 95px; height: 24px;}
#CT_subBut{ position:absolute; left: -30px; top: 135px; width: 70px; height: 24px;}
#hiddenCTC{ position:relative; text-align:center; margin:0; width:426px; left:54%; top:0px;}
#customTextLabel{ position:absolute; left:0px; top:-15px; font-size:18px; font-weight:900; font-family:arial; margin-left:-40px;}
#customTextInput{ position:absolute; left:-40px; top:8px; height:120px; width:340px; border: 2px solid #FF8505; font-family: Arial, sans-serif; line-height:17px; resize: none; padding: 5px; overflow-y: scroll;}
#timeSelectContainer{ position: relative; text-align: center; margin:0 auto; top:-30px; width:630px; height:50px; z-index:10;}
#timeSelectDropDown{ position: absolute !important; left: 0px; margin-left:400px }
#timeTypeSelected{ position: absolute !important; left: 0px; top:20px;}
#psContainer{ position: relative; text-align: left; margin:0 auto; top:-20px; width:630px; height:50px; margin-bottom:-90px;}
#psDiv{ position: absolute !important; left: 0px; margin-left:400px; width:280px; z-index:10;}
#dsDiv{ position: absolute !important; left: 0px; margin-left:400px; top:30px; width:300px; z-index:10;}
#keyLayoutContainer{ position: relative; text-align: center; margin:0 auto; top:80px; width:630px; height:50px; z-index:10;}
#keyLayoutDropDown{ position: absolute !important; text-align:left; left: 0px; margin-left:400px; width:370px;}
#keyLayoutSelected{ position: absolute !important; left: 0px; top:24px;}
/* TEXT/TIME SELECTION END*/

/* TEXT INFO START*/
#textInfoDiv{ position: relative !important; text-align:center; font-weight:bold; font-size:1em; left:0px; padding-bottom:2px; margin: 0 auto; width:500px; height:75px; clear: both;}
#textInfo{ text-align:left; padding:12px; left:0px; margin-left:290px; width:450px; position: absolute !important;}
span.textInfoDisplay{font-weight:normal;}
#textTitleDisplay{font-style:italic;}
/* TEXT INFO END*/

.astrix{ font-size: 18px; vertical-align: super;}
.tooltip{ font-family: arial; background-color: rgb(255, 194, 82); border: 2px solid rgb(207, 114, 0); -webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px; width:380px; height:135px; line-height: 22px; padding-top:30px; z-index: 1001;}
#ttFeatures{ position:relative; text-align: center; margin: 0 auto; margin-top:100px; clear:both; width:90%; max-width:1100px; height:auto; border-top: 2px solid orange;}
#ttPractice{ position:relative; text-align: center; margin: 0 auto; clear:both; width:70%; max-width:800px; height:auto;}
#ttPractice h2{margin:0 0 20px 0;}
.checkList {padding: 0 20px;}
.checkList li {text-align:left; list-style-type:none; background:url('../images/gr_chk_vsm.png') no-repeat 0 5px;margin:0 0 30px 0}
.checkList h3{font-weight:bold;margin: 4px 0px 5px 35px;position: relative;display: inline-block;}
.checkList p{margin:0px 0px 10px 35px;line-height:1.5;}
.boldFont, .bold{font-weight: bold;}

html {position:relative; min-height:100%;}
body { margin:0 0 540px; }
footer{ color:white; clear:both; position: absolute; left: 0; bottom: 0; height: 490px; z-index: 100; width: 100%; background-color: rgb(3, 44, 59);}
footer a {color:rgb(219, 142, 0) !important;}
footer h3{padding-bottom:10px;}
#centFoot{border-right: 1px solid rgb(82, 105, 126);border-left: 1px solid rgb(82, 105, 126);}
#footGrid1 {margin:0;}
footer ol li {text-align: left;margin-left: 42%;}

/* Wordpress Nav Menu START */
#main-header { top: 0px; left: 0px; padding: 0px 9px 0px 0px; background-color: #64b4cf; position: fixed; width: 100%; z-index: 1000; border-bottom: 2px solid #333; margin-bottom:25px; box-shadow: 0px 0px 17px 2px #3b3b3b; min-width:700px;}
#logo, #slogan { float: left; }
#slogan { font-style: italic; color: #333; padding-top: 20px; padding-left: 15px; }
#top-logo {z-index: 1001; position: fixed; padding-left: 10px; top: 0px; left: 0px;}
#top-navigation { float: right; padding: 0px 20px 0px 0; line-height: 1; }
#top-navigation nav { float: left; }
#top-navigation li  { display: inline-block; margin-top: 3px; margin-bottom:1px;vertical-align:text-bottom;}
#top-navigation a { color: #333; font-weight: 400; text-decoration: none; /*padding: 14px 18px;*/ display: block; position: relative; }
#top-navigation > ul > li.sfHover > a, #top-navigation > ul > li > a:hover, .mobile_nav { color: #fff; background-color: #ff8a1d; -webkit-box-shadow: inset 0 0 30px #d9531f; -moz-box-shadow: inset 0 0 30px #d9531f; box-shadow: inset 0 0 30px #d9531f; }

/* START - better nav hover techniques */
#top-navigation > ul > li > a:hover + ul, #top-navigation > ul > li > ul:hover, #top-navigation > ul > li > a:hover + div, #top-navigation > ul > li > div:hover, .mobile_nav { visibility: visible !important; display: block !important;}
#top-navigation div.sub-menu{position: absolute; right:28px; width:370px; height:auto; background-color: #EDF7FA; padding: 25px 30px 5px 30px; border: 2px solid rgb(152, 200, 223); color: rgb(20, 80, 136); box-shadow: 4px 7px 24px -6px rgba(0,0,0,0.48);}
#top-navigation div.sub-menu div a{display: inline-block; text-decoration: underline; color: blue;}
#top-navigation ul li:hover ul, #top-navigation ul li:hover div {display:block !important; visibility: visible !important;}
#top-navigation ul ul:hover + a, #top-navigation ul div:hover + a, #top-navigation #manualHover{color: #fff !important; background-color: #ff8a1d; -webkit-box-shadow: inset 0 0 30px #d9531f; -moz-box-shadow: inset 0 0 30px #d9531f; box-shadow: inset 0 0 30px #d9531f;}
/* END - better nav hover techniques */

/* START - from menuGeneral.css */
.cf:before,.cf:after{content: " "; display: table;}
.cf:after{clear:both;}
.right {float:right;}
.left {float:left;}
.largeBtn{padding: 10px 40px; font-size: 20px; font-weight: bold !important; text-decoration: none !important;}
.mediumBtn{padding: 7px 25px; font-size: 18px; font-weight: bold !important; text-decoration: none !important;}
.smallBtn{padding:3px 12px; font-size:14px; text-decoration: none !important;}
.fullWidth{width:100%;}
.flatBlueBtn{color: white;text-align: center; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25); background: /*#3498db*/ /**#2980b9**/ #2577AD; border: 0; border-bottom: 2px solid /*#2a8bcc*/#095C93;cursor: pointer; -webkit-box-shadow: inset 0 -2px /*#2a8bcc*/#095C93; box-shadow: inset 0 -2px /*#2a8bcc*/#095C93; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
.flatBlueBtn:hover { color: #f2f2f2; background: /*#1E87CD*/#095C93;}
.flatBlueBtn:active {top: 1px; outline: none; -webkit-box-shadow: none; box-shadow: none;}
.submitButtonCarrot {color: white !important; text-align: center; background-color:#e67e22;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;border:0px solid #9e5618;display:inline-block;cursor:pointer;font-family:arial;border-bottom: 2px solid #9e5618; box-shadow: inset 0 -2px #9e5618; text-shadow:0px 0px 8px #CD7120;}
.submitButtonCarrot:hover {color: #f2f2f2; background-color:#d6670d;}
.submitButtonCarrot:active {	position:relative;top:1px;}
.widget{margin-bottom:20px; box-sizing: border-box;}
.widget h4{text-align:left; margin:0 0 10px 0; padding: 0 5px; border-bottom:1px solid #ddd;}
.widget .inner{margin:0 10px;}
.widget div{text-align: left; font-size:0.8em;}
.widget form div{font-size:1em; padding:4px 0;}
.widget form div.alignInput label {width:68px; padding-right:3px;}
.widget form div.checkbox label { display: block; padding-left: 15px; text-indent: -15px;}
.widget form div.checkbox input { width: 13px; height: 13px; padding: 0; margin: 0; vertical-align: middle; position: relative; top: -1px;}
.widget div.field input {width:100%;}
#top-navigation div.sub-menu div.widget div ul{position:relative; width: 100%; margin-top: 15px; border: 1px solid rgb(60, 150, 179);}  
#top-navigation div.sub-menu div.widget div ul li a{font-size:1.12em; text-decoration:none; color: inherit;}
.note {font-size:0.9em;}
form div{padding:8px 0;}
div.field input{font-size:1.1em; padding:6px; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; border: 1px solid #8BA2B3; width:100%;}
form div.alignInput label {width:180px; display:inline-block; text-align:right; padding-right:5px;}
#formErrors {padding:2px 0 10px 0; font-weight: bold; color: red; border-bottom: 1px solid #eee; width: 60%; margin: 0 auto 10px auto;}
form #formErrors {border: none;}
#formInfo{padding: 10px 0; margin: 0 auto 15px auto; font-weight: bold; color: rgb(236, 137, 33); border-bottom: 1px solid #eee; width: 50%; margin: 0 auto 10px auto;}
.sub-menu #formInfo, .sub-menu #formErrors, .widget #formErrors{width:100%;}
/* END - from menuGeneral.css */


#top-navigation li.current-menu-item > a, .et_mobile_menu li.current-menu-item > a { font-weight: 800; color: #F0F0F0; background-color: #005E7C; }
#top-navigation li.current-menu-item > a:hover { color: #fff; }
#top-navigation > ul > li > a, #footer-bottom li a { overflow: hidden; height: 54px; -moz-transition: all .5s; -webkit-transition: all .5s; -o-transition: all .5s; transition: all .5s; }
span.menu_slide, span.main_text { display: block; position: relative; padding: 18px; }
li.menu_2line {top:-4px;}
li.menu_1line a {top:3px;}
span.menu_2line{ display: inline-block; opacity: 1; top: 5px; line-height: 1.4; text-align: center; padding: 0px 22px; }
span.sf-sub-indicator { margin-left: -7px; left: -14px; position: relative; font-size: 0.8em; }
.bottom-nav span.menu_slide, .bottom-nav span.main_text { padding: 23px 20px; }
#top-navigation .current {font-weight: bold; color: #F0F0F0; background-color: #005E7C;}
#top-navigation .current a {font-weight: bold; color: #F0F0F0;}
#top-navigation .current span {font-weight: bold; color: #F0F0F0;}
#top-navigation .sub-menu {width:215px; -webkit-box-shadow: 0px 0px 24px -6px rgba(0,0,0,0.48); -moz-box-shadow: 0px 0px 24px -6px rgba(0,0,0,0.48); box-shadow: 0px 0px 24px -6px rgba(0,0,0,0.48); background-color:rgb(232, 244, 252); top: 57px;}
#top-navigation .sub-menu li {width:100%; height: 100%; margin:-1px -1px;border:none; text-align: left;}
#top-navigation .sub-menu li a {height:100%; width:100%; padding: 17px 10px; font-size: .9em; margin:-1px -1px;border:none;}
#top-navigation .sub-menu li:hover {background-color:#ff8a1d; }				
#top-navigation .sub-menu li:hover a{color: white; padding-left: 20px; font-weight:bold;}

#et_mobile_nav_menu { display: none; }
#menu-main li ul, .et_mobile_menu {z-index: 9999; width: 238px; background: #fff; -webkit-box-shadow: 0 3px 4px rgba(0,0,0,0.04); -moz-box-shadow: 0 3px 4px rgba(0,0,0,0.04); box-shadow: 0 3px 4px rgba(0,0,0,0.04); display: none; border: 1px solid #e9e9e9;}
#menu-main li ul {position: absolute; }
.has-sub-menu span:hover > ul, .has-sub-menu span ul:hover { visibility: visible; display: block;}

@media only screen and ( max-width: 1330px ) {
#headColDiv div{width:307px}
#headColDiv #headCol1 {margin-left: 98px;}
#headColDiv #headCol2 {margin-left: 403px;}
#headColDiv #headCol3 {margin-left: 710px;}
}

@media only screen and ( min-width: 960px ) and ( max-width: 1030px ) {
.container { width: 728px; }
#slogan { display: none; }
#main-header { text-align: center; }
.nav li li { text-align: left; }
#logo { float: none; }
#top-logo img {height:65px;width:319px; }
}

@media only screen and ( min-width: 802px ) and ( max-width: 959px ) {
#top-logo img {height:43px;width:191px; }
}

@media only screen and ( max-width: 801px ) {
#menu-main {margin-top:53px;}
#centerConsole{margin-top:277px;}
#main, #menuContainer{top:118px;}
#affAd {top:142px;}
/*#wrapHeading{margin-top:138px;}*/
}

/*@media only screen and ( max-width: 640px ) {
#menu-main {margin-top:53px;}
#centerConsole{margin-top:377px;}
#main, #menuContainer{top:218px;}
#affAd {top:242px;}
#wrapHeading{margin-top:238px;}
}*/

@media only screen and ( min-width: 1919px ) and ( max-width: 2561px ) {
#body-area { padding-top: 100px; }
}
