/* ------------------ */
/* GENERAL START */


.grid {
  background: white;
  margin: 0 0 20px 0; }
  .grid:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both; }

[class*='col-'] {
  float: left;
  padding-right: 20px; }
  .grid [class*='col-']:last-of-type {
    padding-right: 0; }

.col-1-1 {
  width: 100%; }
  
.col-2-3, .col-4-6 {
  width: 66.66%; }

.col-1-6 {
  width: 16.66%; }

.col-1-2 {
  width: 50%; }

.col-1-4 {
  width: 25%; }
  
.col-1-3 {
  width: 33.33%; }

.col-1-8 {
  width: 12.5%; }
 
.col-5-6{
  width: 83.33%; }
  
.col-3-4{
  width: 75%; }
  
.col-7-25{
  width: 28%; }

.module {
  padding: 20px;
  background: #eee; }

/* Opt-in outside padding */
.grid-pad {
  padding: 20px 0 20px 20px; }
  .grid-pad [class*='col-']:last-of-type {
    padding-right: 20px; }

.module {
  background-color: #C8DBE0;
  border: 2px solid #52727C;
  -webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
-webkit-box-shadow: 3px 7px 40px -13px #353535;        
box-shadow: 3px 7px 40px -13px #353535;
position: relative;
behavior: url(../utilities/PIE/PIE.htc);
  }

/* floats something inline on the right */
.floatRt {
display: block;
clear: right;
float: right;
padding: 6px;
margin-left: 15px;
}

/* floats something inline on the left */
.floatLft {
display: block;
clear: left;
float: left;
padding: 6px;
margin-right: 20px;
}

/* Change table padding (TablePress Plugin) */
#content tr td {
padding: 8px 7px;
font-weight: bold;
}

.row-1 .column-1{
color: rgb(85, 85, 85);
}

/* Change table column 1 (TablePress Plugin) */
.column-1  {
font-weight: bold;
color: green;
}

.odd .column-1{

}

.tablepress .even td {
/*background-color: #444;*/
}

.tablepress .odd td {
/*background-color: #666;*/
}


/* GENERAL END */
/* ------------------ */



/* ------------------ */
/* FOXY THEME START */

/*#featured .slide{
min-height:418px;
}*/

#body-area{
background-color:rgb(175, 197, 207);
background-color: rgb(109, 156, 182);
background-color: rgb(208, 221, 240);
background-color: #3e88ad;
background-color: #7da8b9; /* awesome blue */
background-color: #666;
background-color: #B1B1B1;
}

#featured .slide.et-active-slide img:hover{
cursor: hand; cursor: pointer;
}

/* FOXY THEME END */
/* ------------------ */