/* Specific styling */
.phpError{font-weight:bold; color: red;}

/* Resets */
ul{padding:0; margin: 0 0 20px 0; list-style:none;}
h1, h2{padding:0; margin:0 0 20px 0; font-weight:normal;}
p{padding:0; margin:0 0 20px 0;}

a:link, a:visited{text-decoration:underline; color:#000}
a:hover{text-decoration:none;}

ul li{padding: 5px 0;}
ul li input[type="text"], ul li input[type="password"] {width:200px;}
textarea{width:400px; height:150px;}
input{margin-bottom:5px;}

/* Headers */
h1{font-size:1.8em;}
h2{font-size:1.4em;}

.logo{font:2em Arial; margin:0 0 10px 0; padding: 0; width:200px; color:#fff;}

/* Containers */
body{background:lightslategray; font-family:Arial; font-size:0.8em;}

#container, footer{ background:#fff; width:920px; margin:0 auto; padding:20px;}

header{width:940px; padding:10px; margin: 0 auto 10px auto;}

#container {min-height:500px;  border-radius:5px 5px 0 0;}

footer{border-radius:0 0 5px 5px;}

.widget{margin-bottom:20px;}
.widget h2{margin:0 0 10px 0; padding: 0 5px; font-weight:normal; border-bottom:1px solid #ddd;}
.widget .inner{margin:0 10px;}

/* Navigation */
nav{float:left;}
nav ul{margin:0;}
nav ul li{display:inline; margin-right:10px;}
nav ul li a{text-decoration:none;}
nav ul li.current{font-weight:bold;}
nav ul li a.last{border-right:0;}

/* Aside */
aside{width:260px; float:right; border-left:1px dashed #aaa; padding-left:15px;}

.profile{background:#f9f9f9; border:1px dashed #ccc; padding:5px;}
.profile img{width:100%;}

/* Login */
#login li.link{margin-top:5px;}

/* Footer */
footer{border-top:1px dashed #ddd; color:#999;}

/* Misc */
.clear{clear: both;}
